{% extends "base.html" %}
{% load staticfiles %}

{% block title %}jsConfirm | Welcome{% endblock %}

{% block content %}
  <div id="gallery">
    <div class="row">
      <h2>Gallery</h2>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic1.jpg' %}" alt="Picture 1">
          <div class="description small-12 large-8 columns">
            <h2>The image 1</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <a class="like" href="#" data-name="pic1.jpg" data-id="1"><div class="heart"></div> 8</a>
            <a class="delete" href="#" data-name="pic1.jpg" data-id="1">Delete</a>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic2.jpg' %}" alt="Picture 2">
          <div class="description small-12 large-8 columns">
            <h2>The image 2</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <h2>IMG 1</h2>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic3.jpg' %}" alt="Picture 3">
          <div class="description small-12 large-8 columns">
            <h2>The image 3</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <h2>IMG 1</h2>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic4.jpg' %}" alt="Picture 4">
          <div class="description small-12 large-8 columns">
            <h2>The image 4</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <h2>IMG 1</h2>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic5.jpg' %}" alt="Picture 5">
          <div class="description small-12 large-8 columns">
            <h2>The image 5</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <h2>IMG 1</h2>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <div class="picture">
          <img src="{% static 'img/gallery/pic6.jpg' %}" alt="Picture 6">
          <div class="description small-12 large-8 columns">
            <h2>The image 6</h2>
          </div>
          <div class="buttons small-12 large-4 columns">
            <h2>IMG 1</h2>
          </div>
        </div>
      </div>
    <h4 class="text-center">Images courtesy of https://stocksnap.io/</h4>
    </div>
  </div>

  <div id="jsConfirm" class="transition">
    <div class="title row">
      <a class="jsConfirmClose icon right" href="#"></a>
      <h1 class="text">Delete Image</h1>
    </div>
    <div class="description row text-center">
      <h1>Are you sure you want to delete <span>iPhone5S.jpg</span>?</h1>
    </div>
    <div class="buttons row">
      <a id="jsConfirmCancel" class="cancel jsConfirmClose text-center" href="#">Cancel</a><a id="jsConfirmProceed" class="proceed text-center" href="#">Delete file</a>
    </div>
  </div>
  <div id="jsConfirmBackground" class="jsConfirmClose transition"></div>

{% endblock %}